html {
  min-width: 18.75rem;
}
body {
  width: 100%;
}
a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &:hover {
    filter: brightness(80%);
  }
}


.container {
  margin: 0 auto;
  max-width: 960px;
  &--large {
    max-width: 1440px;
  }
}
